.transition {
    -webkit-transition: top 400ms linear;
    -moz-transition: top 400ms linear;
    -ms-transition: top 400ms linear;
    -o-transition: top 400ms linear;
    transition: top 400ms linear;
}

.timeTo {
	font-family: Verdana;
	font-size: 28px;
	line-height: 30px;
	font-weight: bold;
	height: 32px;
}

.timeTo span {
	vertical-align: top;
}

.timeTo.timeTo-white div {
	color: black;
	background: url(timeto-white.png) no-repeat left center;
}
.timeTo.timeTo-black div {
	color: white;
	background: url(timeto-black.png) no-repeat left center;
}

.timeTo div.timeTo-alert {
	background-position: right center;
}

.timeTo figure {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.timeTo figcaption {
	text-align: center;
	font-size: 12px;
	line-height: 10px;
	font-weight: normal;
	color: #888;
}

.timeTo div {
	position: relative;
	display: inline-block;
	width: 25px;
	height: 30px;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	overflow: hidden;
}
.timeTo div.first {
	border-left: 1px solid silver;
}

.timeTo ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 3px;
}

.timeTo ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
